/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

/* custom-font.css */

/* Import the Google Fonts CSS */
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');


